@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html,body
{
    font-family: 'Noto Sans KR', sans-serif;
}
body 
{ 
    background-color: white; 
}

h1 
{ 
    color: black; text-decoration; 
}
div.title
{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    
}

div.jumbotron
{
    max-width: 100%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: center; 
}

div.panel
{
    max-width: 100%;
    margin: 10px 80px 10px 80px;
    padding: 10px 10px 10px 10px;
    text-align: center; 
}

div.caption
{
    text-align: center;
}

div.row
{
    margin: 10px 40px 10px 40px;
    padding: 10px 10px 10px 10px;
    text-align: center;  
}

img.thumb
{
   width: auto;
   height: auto;
}

#twitter
{
    background-color: rgb(61, 156, 214);
    outline: 0;
    border: 10px;
}

#melon
{
   padding: 5px 5px 5px 5px;
   background-color: rgb(76, 196, 23);
   border: 10px;
   font-size:30px;
   color:white;
   text-align: center;
   border-radius: 12px;
   outline: 0;
   max-width: 100%;
}

#genie
{
   padding: 5px 5px 5px 5px;
   background-color:#393CF8;
   border: 10px;
   font-size:30px;
   color:white;
   text-align: center;
   border-radius: 12px;
   outline: 0;
   max-width: 100%;
}

#bugs
{
    padding: 5px 5px 5px 5px;
    background-color:orangered;
    border: 10px;
    font-size:30px;
    color:white;
    text-align: center;
    border-radius: 12px;
    outline: 0;
    max-width: 100%;
}

#vibe
{
    padding: 5px 5px 5px 5px;
    background-color:rgb(169, 57, 248);
    border: 10px;
    font-size:30px;
    color:white;
    text-align: center;
    border-radius: 12px;
    outline: 0;
    max-width: 100%;
}